.news{
	border:rgb(163, 163, 163) solid 1px;
	margin: 10px 20px;
	padding: 7px 0;
    background: #fff;
    overflow: hidden; 
}
.news-img{
    margin: 20px auto;
    max-width: 60%;
}
.news-img img{
    border: rgb(163, 163, 163) dashed 1px;
	display: block;
	margin: 0 auto;
    max-height: 400px;
}
.title{
    margin: 30px auto 10px;
    max-width: 90%;
    text-align: center;
	line-height: 40px;
	font-size: 2em;
    font-weight: bolder;
    word-wrap: break-word;
}
.author{
    margin: 10px auto;
    text-align: center;
	line-height: 20px;
    font-size: 0.9em;
}
.newsword{
    text-indent: 2em;
    font-size: 1.2em;
    margin: 30px auto;
    max-width: 85%;
    word-wrap: break-word;
}

.replyborad{
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    min-height: 60px;
    margin-bottom: 20px;
    width: 100%;
}
.replycontent{
    border:rgb(163, 163, 163) solid 1px;
	margin: 10px 20px;
	padding: 7px 8%;
    background: #fff;
    margin: auto;
    width: 70%;
    text-align: center;
}
.replyword{
    margin: 20px 0;
    display: flex;
}
.replyword textarea{
    font-size: 1.2em;
    height: 100px;
    width: 92%;
    resize: none;
}
.replyword input[type=submit]{
    background: rgb(22, 150, 255);
    font-size: 0.6em;
    font-family: '宋体';
    width: 8%;
    font-weight: bold;
    border: #000 solid 1px;
    border-left: 0px;
    border-radius: 2px;
    transition: width 0.4s ease;
}

.newsreply{
    border:rgb(163, 163, 163) solid 1px;
	margin: 10px 20px;
	padding: 7px 0;
    background: #fff;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}
.reply{
    display: flex;
    width: 100%;
    margin: 20px 0;
    justify-content: center;
}
.r-userinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
}
.r-uheader{
    display: flex;
    width: 100%;
}
.r-uheader img{
    margin: 0 auto;
    width: 75px;
}
.r-uname{
    width: 9em;
    margin: 10px 0 0;
    font-size: 0.9em;
    text-align: center;
}

.replymain{
    min-width: 70%;
    max-height: 200px;
    overflow: auto;
    padding: 5px 10px 8px;
    outline: #000 solid 1px;;
}
.replymain pre{
    font-family: initial;
    min-height: 120px;
    font-size: 1em;
}